
body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: fixed;
  background-color: rgba(24, 45, 48, 0.795); 
}

li {
  display: inline-block;
  color:#FFE8E2;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li a {
  display: block;
  color: #FFE8E2;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  color: #f8be9e88;
  transition: 0.6s;
}


ul img{
  height: 55;
  width:200;
}
  
.marquee{
  background-color:"#f8be9e88"
}


